body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    color: #151515;
    box-sizing: border-box;
}

.sub-title {
    color: #f53626;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
}

.hny-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.x-text {
    font-size: 1.2em;
    line-height: 28px;
    color: #afafaf;
}

/* Light theme */
/* ? HEADER */
header {
    background-color: #fff;
}

header.nav-fixed {
    padding: 0px;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

#myBody,
#myBody #navText .navbar-nav .dropdown-menu {
    background-color: white;
}

#myBody #navText a,
#myBody #navText .navbar-nav .dropdown-menu a {
    color: #000c04;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}

#switchButton {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    background: white;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

/* ? ABOUT */
.hny-title {
    color: #151515;
}

.about a {
    color: #151515;
}

/* ? FEATURES */
.features {
    background-color: #936be80d;
}

.features .area-box {
    background-color: #fff;
}

.features a {
    color: #000c04;
}

.features .area-box:hover {
    background-color: #f3effd;
}

/* ? OFFER */
.offer .cwp4-text ul li {
    color: #000c04;
}

.offer ul.cont-4 li span.fa {
    background: #936be80d;
}

/* ? PLANS */
.plans {
    background-color: #f9f7fe;
}

.plans .one-light {
    color: #000c04;
}

.plans p {
    color: #696969;
}

.w3l-plans {
    background-color: #ffffff;
}

/* ? TESTIMONIALS */
.testimonials {
    background-color: #f9f7fe;
}

.testimonials .testimonial {
    background-color: #fff;
}

/* Dark Theme*/
/* ? HEADER */
.dark header {
    background-color: #000c04;
}

.dark#myBody,
.dark#myBody #navText .navbar-nav .dropdown-menu {
    background-color: #151515;
}

.dark#myBody #navText a,
.dark#myBody #navText .navbar-nav .dropdown-menu a {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

.dark #switchButton {
    background-color: #151515;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: #151515;
    color: white;
}

.dark .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    background: #151515;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
}

.dark#myBody #navText #color-change a:hover {
    background-color: #151515;
}

/* ? ABOUT */
.dark .hny-title {
    color: white;
}

.dark .about a {
    color: white;
}



/* ? FEATURES */
.dark .features {
    background-color: #222222;
}

.dark .features .area-box {
    background-color: #151515;
}

.dark .features a {
    color: #ddd;
}

.dark .features .area-box:hover {
    background-color: #222;
}

/* ? OFFER */
.dark .offer .cwp4-text ul li {
    color: #ddd;
}

.dark .offer ul.cont-4 li span.fa {
    background: #222;
}

/* ? PLANS */
.dark .plans {
    background-color: #222222;
}

.dark .plans .one-light {
    color: #ddd;
}

.dark .w3l-plans {
    background-color: #151515;
}

/* ? TESTIMONIALS */
.dark .testimonials {
    background-color: #222222;
}

.dark .testimonials .testimonial {
    background-color: #151515;
}


/* HEADER */
.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}

#navbarHead h1 a {
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
    padding: 14px 0;
}

#navbarHead .nav-item {
    padding: 14px 10px;
    font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

#navbarHead .nav-item::after {
    content: "";
    width: 0;
    height: 1.3px;
    background-color: #35a22c;
    display: block;
    transition: all .5s;
}

#navbarHead .nav-item:hover::after {
    width: 100%;
}


#navbarHead #navText .navbar-nav .active a {
    color: #35a22c;
}

#navbarHead a {
    color: #fff;
    transition: all .5s;
}

#navbarHead #navText .navbar-nav a:hover {
    color: #35a22c;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

#navbarHead .dropdown-item::after {
    content: "";
    width: 0;
    height: 1.3px;
    background-color: #35a22c;
    display: block;
    transition: all .5s;
}

#navbarHead .dropdown-item:hover::after {
    width: 100%;
}

#myBody #navText #color-change a:hover {
    color: #35a22c;
}



/* Click MENU */
#togglerMenu .fa-bars {
    display: block;
}

#togglerMenu .fa-xmark {
    display: none;
}

.xbtn #togglerMenu .fa-bars {
    display: none;
}

.xbtn #togglerMenu .fa-xmark {
    display: block;
    color: white;
}


/* CAROUSEL */
#portCarousel .carousel-item>img {
    height: 100vh;
    object-fit: cover;
}

#portCarousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
    border: 0;
}

#portCarousel .carousel-indicators li.active,
#portCarousel .carousel-indicators li:hover {
    background-color: #35a22c;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#portCarousel .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

#portCarousel .carousel-inner h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

#portCarousel .carousel-inner p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

#portCarousel .carousel-inner a {
    color: #fff;
    background-color: #ffffff00;
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 10px;
}

#portCarousel .carousel-inner a:hover {
    color: #189a46;
    background-color: #fff;
}

#portCarousel .carousel-inner a.active {
    color: #189a46;
    background-color: #fff;
}

#portCarousel .banner-info-bg {
    max-width: 700px;
}

.owl-theme .owl-dots {
    text-align: center;
    display: block;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #189a46;
    width: 30px;
    height: 10px;
}

/* ABOUT */
.about {
    text-align: center;
}

.about .mg {
    max-width: 700px;
    margin: 0 auto;
}

.about a {
    font-size: 17px;
    border-bottom: 2px solid #189a46;
}

.about a:hover {
    color: #189a46;
    text-decoration: none;
}

/* FEATURES */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.features .area-box {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.features .icon span.fa {
    color: #189a46;
    font-size: 30px;
}

.features .area-box h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
}

.features p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.features a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

.features a:hover {
    color: #189a46;
    text-decoration: none;
}


/* SCREEN */
@media screen and (max-width: 992px) {
    header .navbar-toggler {
        background-color: #35a22c;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    .mobile-position {
        position: absolute;
        right: 60px;
        top: 32px;
    }

    #navbarHead #navText .nav-item {
        display: inline-block;
        padding: 6px 0;
        text-align: center;
    }

    #navbarHead .nav-item:hover::after {
        display: none;
    }

    .navbar-nav .dropdown-menu {
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .plans .plans-content {
        width: 60%;
    }

    .plans .plans-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .plans .plans-content {
        width: 75%;
    }

}

@media screen and (max-width: 568px) {
    .plans .plans-content {
        grid-gap: 20px;
        margin: 30px auto;
    }

}

@media screen and (max-width: 480px) {
    .plans .plans-content {
        width: 80%;

    }

}

@media screen and (max-width: 415px) {
    .plans .plans-content {
        width: 100%;

    }

}

/* Key Frames */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}